.wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.block {
  padding: 20px 24px 32px;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 1);
}

h2 {
  color: rgba(0, 0, 0, 1);
  font-size: 36px;
}

button {
  background-color: rgba(104, 192, 208, 1);
  border-radius: 8px;
  height: 78px;
  color: rgba(249, 249, 249, 1);
  font-size: 24px;
  font-weight: 700;
}

.second-flex {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.third-flex {
  display: flex;
  gap: 24px;
}

.forth-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.res-input {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
